.card-container {
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 22rem;
  background-color: white;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.card-header {
  display: flex;
  flex: 1;
  align-items: center;
  text-indent: 1rem;
  font-size: 0.8em !important;
  line-height: 1.2em !important;
}
.card-image {
  display: flex;
  flex: 5;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  margin: 1rem;
}
.card-footer {
  display: flex;
  flex: 1;
  align-items: center;
}
.card-footer a {
  color: #007185;
  font-size: 13px !important;
  line-height: 19px !important;
  text-indent: 1rem;
  text-decoration: none;
}
.card-footer:hover a {
  text-decoration: underline;
  cursor: pointer;
  color: #c7511f;
}
