#slider-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 89%;
  height: 16rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

#slider-card-container .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.slider-header {
  background-color: tomato;
  display: flex;
  align-items: flex-start;
}
.slider-header div {
  display: flex;
}
#slider-card-container .image {
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to top bottom);
}

#slider-card-container .right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 15rem;
  font-size: 3rem;
  color: rgb(70, 69, 69);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
}

#slider-card-container .left-arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 15rem;
  font-size: 3rem;
  color: rgb(70, 69, 69);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
}
.left-arrow:focus,
.right-arrow:focus {
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
}
.slide {
  opacity: 16;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
#slider-container {
  display: flex;
  flex-direction: row;
}
