#slider-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 89%;
  height: 16rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

#slider-card-container .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.slider-header {
  background-color: tomato;
  display: flex;
  align-items: flex-start;
}
.slider-header div {
  display: flex;
}
#slider-card-container .image {
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to top bottom);
}

#slider-card-container .right-arrow {
  position: absolute;
  top: 30%;
  right: 2%;
  width: 1.2em;
  height: 2em;
  line-height: 100px;
  font-size: 3rem;
  box-shadow: 0 1px 3px #888;
  color: rgb(70, 69, 69);
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  z-index: 10;
}

#slider-card-container .left-arrow {
  position: absolute;
  top: 30%;
  left: 2%;
  width: 1.2em;
  height: 2em;
  line-height: 100px;
  font-size: 3rem;
  box-shadow: 0 1px 3px #888;
  color: rgb(70, 69, 69);
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  z-index: 10;
}
#slider-card-container .left-arrow:focus,
#slider-card-container .right-arrow:focus {
  outline: 5px auto #008296;
}
.slide {
  opacity: 16;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
#slider-container {
  display: flex;
  flex-direction: row;
}
