* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Lines */
.menu-line {
  color: #ffffff;
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
  padding-left: 5px;
  white-space: nowrap;
}
.options-line {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
/* Hover */
.hover-white-border {
  display: flex;
  padding: 0.5rem;
  border: 1px solid transparent;
  margin-left: 0.3rem;
}
.hover-white-border:hover {
  border: 1px solid;
  border-radius: 2px;
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Navbar */

#nav-header {
  min-width: 1000px;
  height: 2.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #232f3e;
  z-index: 10;
  padding: 0.7rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-fill {
  display: flex;
  align-items: center;
  flex: 7;
}

.nav-right {
  display: flex;
  align-items: center;
}


.nav-hamburger-menu {
  background-color: #232f3e;
}


/* SidebarMenu*/

.navbar {
  background-color: #232f3f;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;  
}

.menu-bars {
  margin-left: 20rem;
  font-size: 2rem;
  background: none;
  color: white;
  text-decoration: none;
}

.nav-menu {
  background-color: white;
  width: 380px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 105;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color:black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #232f3f;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}