#quartet-image-container {
  display: flex;
  flex-direction: row;
  flex: 5;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
}
#quartet-image-container .single-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 164, 180, 0.05);
  width: 50%;
  height: 50%;
}

#quartet-image-container a {
  display: flex;
  flex-direction: column;
}

#quartet-image-container a .text {
  flex: 1;
  font-size: 13px !important;
  line-height: 19px !important;
  justify-content: center;
}
#quartet-image-container a .image {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
